.nav {
	position: fixed;
	top: 0;
	display: flex;
	justify-content: space-between;
	width: 100%;
	padding: 20px;
	z-index: 1;
	height: 30px;

	/* Animation */
	transition: all 0.2s;
	transition-timing-function: ease-in;
}

.nav__black {
	background-color: #111111;
}

.nav__logo {
	position: fixed;
	left: 20px;
	width: 90px;
	object-fit: contain;
}

.nav__avatar {
	position: fixed;
	right: 20px;
	width: 30px;
	object-fit: contain;
}
